header{

    background-image: url("bence-balla-schottner-_HAVhi9B2a4-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    background-attachment:fixed ;
    width: 100%;

    
}

